**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Marina Hu
- Allison Huang
- Samuel Lee
- Audrey Liang
- Lilian Xia

# Research Question

We want to figure out the following questions for this project: 

- How has COVID-19 affected different states in the United States? (We will ideally be looking at data from 2019-2022)
- Is there a relationship between COVID-19 and violent crime rates across the states, but specifically in California?

To do so, here are some of the variables we will be looking at: 
- Violent crime rates from around the years 2019-2022
- Hospitalization rates
- State income
- Unemployment rates
- Death rates
- Emergency Room Visits

## Background and Prior Work

In March of 2020, the COVID-19 virus was labelled a pandemic, causing various parts of the world to undergo lockdown in an effort to try and combat this extremely transmissive virus. During this time, many countries had seen downward trends, with less people going to eat out, going to work, and generally travelling less. Our general research aims to find just how this virus impacted each of the 50 states across America.

As a subtopic, we are also interested in finding out the impact of COVID-19 on the crime rates in the States as well, but specifically in California. We will be focusing on the rate of violent crimes (such as assault, murder, armed robbery, etc.), since studies have shown that minor offenses showed a downward trend, which was speculated to be because of the lockdowns keeping juvenile offenders indoors.

The University of New Hampshire did a study on the economic impact of COVID, which shows an immediate drop in jobs across the United States at the start of the pandemic in Chart 1, and an upward trend immediately after, which started to slow down by the end of 2020 <a name="cite_ref-1"></a>[<sup>4</sup>](#cite_note-4). As of 2021, Ettlinger has seen recovery in the economic status, with the unemployment rate going up in each state. While this is great news, Ettlinger notes that many industries have struggled to recover, such as the Leisure and Hospitality industry, which is reasonable given that at this point, many states were just getting out of lockdown. <a name="cite_ref-1"></a>[<sup>4</sup>](#cite_note-4).

Additionally, there are many links on the official Centers for Disease Control and Prevention (CDC) that provide datasets for the health impact per state in the United States. The CDC allows us to see the visualizations of categories like COVID patients, death rates, vaccination rates, and hospital admissions since August 1st, 2020. While this is just raw data, further data analysis would allow us to see data such as the net change in the number of hospitalizations in California. <a name="cite_ref-2"></a>[<sup>3</sup>](#cite_note-3)

For our subtopic, Boman and Gallupe (2020) found that the lockdown policy had some unintended impacts on the United States in which crime had decreased after the pandemic. However, after breaking down the crime categories, they found that the drop was driven by decreases in minor offenses usually committed in peer groups, while serious crimes (e.g., homicide) either remained constant or increased. <a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-3)Because of the variability between different types of crimes, we decided to focus on just the violent crimes, which are defined by the FBI’s Uniform Crime Reporting (UCR) Program as composed of four offenses: murder and nonnegligent manslaughter, forcible rape, robbery, and aggravated assault, and study the correlation between COVID-19 and violent crime rates across the states. 

Previous works looking at eight large US cities during the first few weeks of the pandemic found disparate impacts by crime type and location (Stickle & Felson, 2020). <a name="cite_ref-5"></a>[<sup>5</sup>](#cite_note-5)In order to have a better understanding of the correlation, we further narrowed down the location to one of the main states in the United States, California. Avila et al. (2023)<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) examined the impact of COVID-19 on the violent crime rates in the city of Stockton, California, and they found that robbery and simple assault were increased while homicide and aggravated assult were not affected by the pandemic. The study further broke down the violent crimes and compared them across the categories in one city. The results provided insightful opinions for the local police departments. Instead of looking at one specific city, we want to examine the difference in the impacts across different cities in California and compare which city is mostly affected (violent crime rates increased the most after the pandemic), which may help to visualize the disparate impacts of COVID-19 in terms of violent crimes committed. 


1. <a name="cite_note-1"></a> Avila, D., Gao, H., Randol, B., & Chintakrindi, S. (2023). COVID-19: Examining the Impact of the Global Pandemic on Violent Crime Rates in the Central Valley of California. International Journal, 12, 43. 
2. <a name="cite_note-2"></a> Boman, J.H., Gallupe, O. Has COVID-19 Changed Crime? Crime Rates in the United States during the Pandemic. Am J Crim Just 45, 537–545 (2020). https://doi.org/10.1007/s12103-020-09551-3 
3. <a name="cite_note-3"></a>  Centers for Disease Control and Prevention. (n.d.). CDC Covid Data tracker. Centers for Disease Control and Prevention. https://covid.cdc.gov/covid-data-tracker/#maps_total-admissions-state 
4. <a name="cite_note-4"></a> Ettlinger, M. (2021, October 22). Covid-19 economic crisis: By State. UNH. https://carsey.unh.edu/publication/COVID-19-Economic-Impact-By-State 
5. <a name="cite_note-5"></a> Stickle, B., Felson, M. Crime Rates in a Pandemic: the Largest Criminological Experiment in History. Am J Crim Just 45, 525–536 (2020). https://doi.org/10.1007/s12103-020-09546-0

# Hypothesis


Because California is the most populated state in the nation, we hypothesize that California was impacted the most due to COVID-19. Furthermore, because of COVID-19's rising unemployment rates and driving socioeconomic disparities even more, we hypothesize that there is a relationship between states more heavily impacted by COVID-19 and rising serious crime rates, and we’ll specifically see this in California’s data.

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name: California Crime Rates by County
  - Link to the dataset: https://openjustice.doj.ca.gov/data, under Crime and Clearances Monthly CSV
  - Number of observations: 350
  - Number of variables: 12
- Dataset #2 (if you have more than one!)
  - Dataset Name: COVID-19 Time-Series Metrics by County and State
  - Link to the dataset: https://catalog.data.gov/dataset/covid-19-time-series-metrics-by-county-and-state-e7757
  - Number of observations: 86559
  - Number of variables: 12
- Dataset #4 (if you have more than one!)
  - Dataset Name: Statewide Covid-19 Hospital County Data
  - Link to the dataset: https://data.ca.gov/dataset/covid-19-hospital-data/resource/e34f966b-39dc-4f86-8087-2f9b327f60f3
  - Number of observations: 79554
  - Number of variables: 10
- Dataset #3 (if you have more than one!)
  - Dataset Name: Covid-19 Vaccines Counts by County
  - Link to the dataset: https://data.ca.gov/dataset/covid-19-vaccine-progress-dashboard-data/resource/317f8cd8-7225-4b7e-99d1-6ea441043a51
  - Number of observations: 9195
  - Number of variables: 10 


Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

### How we plan to use these Datasets: 

By combining this with the below COVID Datasets, we want to try and predict if crime rates will increase based on the COVID statistics. We plan to merge the COVID datasets together to form a cohesive understanding about the effect of COVID on a particular county at a given time. Then, we will be able to plot the COVID and Crime datasets together to see if there is a correlation between the effect of COVID and the given crime rate. To simplify our datasets just a little bit, we decided to use the 15 most populous counties in California, since there is likely to be more data for both crime and COVID rates. 

The counties we'll be working with are: 
    
- `Los Angeles County`
- `San Diego County`
- `Orange County`
- `Riverside County`
- `San Bernardino County`
- `Santa Clara County`
- `Alameda County`
- `Sacramento County`
- `Contra Costa County`
- `Fresno County`
- `Kern County`
- `Ventura County`
- `San Joaquin County`
- `San Francisco County`
- `San Mateo County`

Description:
- The dataset below describes the crime rates of various counties in California. They are grouped together based on their county, month, and year. The dataset spans from March 2020 to March 2022

Important Variables:

 * **Month:** The month of which the data was reported for a county. Since we will be looking at this on a month to month basis, this is important.
 * **Year:** The year of which the data was reported for a county. This is important so we can appropriately group the dataset.
 * **County:** The county in California for which the crime was reported for. This is important to group each dataset properly.

 * **____Sum:** These are the types of crimes that were committed in this county for a specific month and year.(Types of crimes include: Violent, Homicide, ForRape, Robbery, Aggravated Assault, Property, Burglary, Vehicle, Total). These can be used to represent the crime rate per county.

Data Types:

- All variables except for the County Datatype, which is of type `object`, are integer types (`int32`).\n",

How we'll clean and wrangle the data:

- The data has been somewhat cleaned already (as seen in the comments in the code). We edited the dataset to only include the years 2020-2022 (March 2020 - March 2022), and this dataset has been grouped and summed together by county name, month, and year to facilitate easier wrangling in the future.

## California Crime Rate by County Dataset

In [1]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
import pandas as pd
import numpy as np

pd.options.display.max_rows = 30
pd.options.display.max_columns = 20

counties = ['Los Angeles County' , 'San Diego County' , 'Orange County' , 'Riverside County' , 'San Bernardino County' , 'Santa Clara County', 'Alameda County', 'Sacramento County', 'Contra Costa County', 'Fresno County', 'Kern County', 'Ventura County',  'San Joaquin County', 'San Francisco County', 'San Mateo County']
obj_cols = ['Violent_sum','Homicide_sum','ForRape_sum','Robbery_sum','AggAssault_sum','Property_sum','Burglary_sum','VehicleTheft_sum','LTtotal_sum']
crime_df = pd.read_csv('CrimeData.csv', low_memory= False)

#Replacing all empty strings with 0 to get rid of converting empty strings to ints
crime_df[obj_cols] = crime_df[obj_cols].replace(" ", '0').astype(int)

#drop column ncic code
crime_df = crime_df[crime_df['County'].isin(counties)].drop('NCICCode', axis= 1)

#Locate just years 2020-2022 and just from March 2020 - March 2022
crime_df = crime_df[crime_df['Year'] > 2019].iloc[2:14599,:12].reset_index()

#Drop Months from 2020 and 2022 that aren't used
crime_df = crime_df.drop(crime_df[(crime_df['Month'] < 3 ) & (crime_df['Year'] == 2020)].index)
crime_df = crime_df.drop(crime_df[(crime_df['Month'] > 3 ) & (crime_df['Year'] == 2022)].index)

# Sum up from each individual city
crime_df = crime_df.groupby(['County', 'Month', 'Year'], group_keys= True).sum().reset_index()

crime_df

,County,Month,Year,index,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LTtotal_sum
0,Alameda County,1,2021,225962,1021,15,55,506,445,4549,480,1177,2892
1,Alameda County,1,2022,7144302,1012,9,62,503,438,6049,762,1412,3875
2,Alameda County,2,2021,225984,687,8,43,324,312,4203,400,1098,2705
3,Alameda County,2,2022,7144324,712,10,55,335,312,5278,591,1280,3407
4,Alameda County,3,2020,220198,767,12,75,329,351,4878,513,1052,3313
...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,Ventura County,10,2021,5731534,191,0,30,44,117,1012,172,129,711
368,Ventura County,11,2020,5727672,133,0,11,39,83,1004,146,108,750
369,Ventura County,11,2021,5731552,149,1,15,53,80,1088,182,115,791
370,Ventura County,12,2020,5727690,126,2,18,33,73,1208,164,116,928
371,Ventura County,12,2021,5731570,113,1,7,41,64,1204,185,121,898

## COVID-19 Cases by County Dataset

- Description: 
    - The dataset below is from to California Department of Public Health and contains data about the number of COVID-19 cases, deaths, and positive tests across all the counties in California between 02/01/2020 to 12/19/2023. 
- Variables and their datatypes:
    - The main varibales that we are interested in analyzing are 'cumulative_cases' (`float64` type), 'cumulative_deaths' (`float64` type), 'cumulative_total_tests' (`int64` type), 'cumulative_positive_tests' (`int64` type). 'date' and 'area' are included as well which are of `object` type, and for area, which in this dataset is synonymous with county, is limited to the top 15 most populated counties in California, and this has been consistent amongst all our dataset. 'population' (also `float64` type) is kept as a potential important and useful factor for analysis in the future. 
- Concepts:
    - In general, these variables reveal the total most updated number of cases, deaths, total tests, and positive tests in these counties on each date of 02/01/2020 to 12/19/2023. This will help us further determine further if a county was more affected by COVID-19 than other counties, along with our other factors too for the COVID-19 part of our research question
- Wrangling/Cleaning/Preprocessing the dataset:
    - To begin our initial wrangling, we plan to first just pull out all the data for our variables, counties, and dates of interest (as shown below) and thus condensing the dataset down to 11415 rows × 7 columns. Because we have multiple datasets for COVID-19, we plan to do the same process for all the COVID-19 dataset, eventually combining all these into one dataframe to simplify and increase the efficiency of future analysis.

In [2]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 

import pandas as pd
import numpy as np

# counties and interested columns to analyze further into
counties = ['Los Angeles' , 'San Diego' , 'Orange' , 'Riverside' , 'San Bernardino' , 'Santa Clara', 'Alameda', 'Sacramento', 'Contra Costa', 'Fresno', 'Kern', 'Ventura',  'San Joaquin', 'San Francisco', 'San Mateo']
interested_cols = ['date', 'area', 'population', 'cumulative_cases', 'cumulative_deaths', 'cumulative_total_tests', 'cumulative_positive_tests']

# loading/reading the initial dataframe
covid_cases_df = pd.read_csv('COVID19_Cases_Test.csv')
covid_cases_df

,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests
0,2020-02-01,Alameda,County,1685886.0,3.0,3.0,0.0,0.0,4.0,4,0.0,0
1,2020-02-02,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,1.0,5,0.0,0
2,2020-02-03,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,0.0,5,0.0,0
3,2020-02-04,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,0.0,5,0.0,0
4,2020-02-05,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,1.0,6,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
86554,2023-12-16,Yuba,County,79290.0,3.0,21081.0,0.0,147.0,45.0,220674,5.0,24559
86555,2023-12-17,Yuba,County,79290.0,0.0,21081.0,0.0,147.0,50.0,220724,1.0,24560
86556,2023-12-18,Yuba,County,79290.0,2.0,21083.0,0.0,147.0,27.0,220751,3.0,24563
86557,2023-12-19,Yuba,County,79290.0,0.0,21083.0,0.0,147.0,NaN,220751,NaN,24563
86558,NaN,Yuba,County,79290.0,4.0,21087.0,NaN,147.0,41.0,220792,3.0,24566

In [3]:
# initial size of the dataframe
covid_cases_df.shape

(86559, 12)

In [4]:
# filters out the dataset for the interested counties and columns to analyze 
covid_cases_df = covid_cases_df[covid_cases_df['area'].isin(counties)]
covid_cases_df = covid_cases_df[interested_cols]

# filters/extract that data between 03/01/2020 to 03/31/2022, or our dates of interest
covid_cases_df = covid_cases_df[covid_cases_df['date'].between('2020-03-01', '2022-03-31')].reset_index(drop=True)

# display final filtered dataframe 
covid_cases_df

,date,area,population,cumulative_cases,cumulative_deaths,cumulative_total_tests,cumulative_positive_tests
0,2020-03-01,Alameda,1685886.0,21.0,0.0,38,4
1,2020-03-02,Alameda,1685886.0,22.0,0.0,53,4
2,2020-03-03,Alameda,1685886.0,25.0,0.0,62,4
3,2020-03-04,Alameda,1685886.0,31.0,0.0,84,5
4,2020-03-05,Alameda,1685886.0,35.0,0.0,134,5
...,...,...,...,...,...,...,...
11410,2022-03-27,Ventura,852747.0,173005.0,1496.0,2904465,218270
11411,2022-03-28,Ventura,852747.0,173051.0,1496.0,2908787,218326
11412,2022-03-29,Ventura,852747.0,173088.0,1496.0,2912638,218381
11413,2022-03-30,Ventura,852747.0,173142.0,1498.0,2916917,218455
11414,2022-03-31,Ventura,852747.0,173182.0,1500.0,2919984,218503

In [5]:
# what the datatypes are for each of the varaibles that we are interested in analyzing 
covid_cases_df.dtypes

date                          object
area                          object
population                   float64
cumulative_cases             float64
cumulative_deaths            float64
cumulative_total_tests         int64
cumulative_positive_tests      int64
dtype: object

In [6]:
# size of the dataframe after filtereing for interested variables, counties, and dates
covid_cases_df.shape

(11415, 7)

In [7]:
# getting an overview of and checking missingness of the dataset
covid_cases_df.isnull().sum()

date                         0
area                         0
population                   0
cumulative_cases             0
cumulative_deaths            0
cumulative_total_tests       0
cumulative_positive_tests    0
dtype: int64

## COVID-19 Hospitalization by County Dataset

In [3]:
hospital_df = pd.read_csv('covid19_hospitalization.csv')
hospital_df

,_id,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,1,Kern,2020-03-27,0.0,0.0,NaN,NaN,0.0,0.0,NaN
1,2,Imperial,2020-03-29,5.0,100.0,NaN,NaN,1.0,2.0,2.0
2,3,Kern,2020-03-29,16.0,57.0,NaN,NaN,8.0,8.0,39.0
3,4,Contra Costa,2020-03-29,23.0,62.0,NaN,NaN,8.0,15.0,62.0
4,5,Nevada,2020-03-29,23.0,NaN,NaN,NaN,1.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...
79549,79550,Riverside,2024-02-17,68.0,0.0,53.0,1271.0,6.0,NaN,137.0
79550,79551,Modoc,2024-02-17,0.0,0.0,0.0,NaN,0.0,NaN,0.0
79551,79552,Sacramento,2024-02-17,67.0,58.0,93.0,1025.0,3.0,NaN,52.0
79552,79553,Yuba,2024-02-17,5.0,0.0,0.0,NaN,1.0,NaN,9.0
79553,79554,Tehama,2024-02-17,1.0,0.0,0.0,NaN,1.0,NaN,3.0

In [4]:
# drop id column
hospital_df = hospital_df.drop('_id', axis=1)

# change the date column to pd.datetime
hospital_df["todays_date"] = pd.to_datetime(hospital_df["todays_date"])

# select rows between march 2020 and march 2022
hospital_df = hospital_df[hospital_df['todays_date'].between('2020-03-01', '2022-03-31')]

# select rows with the following counties
counties_2 = [county.replace(" County", "") for county in counties]
hospital_df = hospital_df[hospital_df['county'].isin(counties_2)]

In [5]:
hospital_df

,county,todays_date,hospitalized_covid_confirmed_patients,hospitalized_suspected_covid_patients,hospitalized_covid_patients,all_hospital_beds,icu_covid_confirmed_patients,icu_suspected_covid_patients,icu_available_beds
0,Kern,2020-03-27,0.0,0.0,NaN,NaN,0.0,0.0,NaN
2,Kern,2020-03-29,16.0,57.0,NaN,NaN,8.0,8.0,39.0
3,Contra Costa,2020-03-29,23.0,62.0,NaN,NaN,8.0,15.0,62.0
5,San Diego,2020-03-29,121.0,211.0,NaN,NaN,77.0,39.0,205.0
8,Santa Clara,2020-03-29,141.0,72.0,0.0,NaN,65.0,15.0,70.0
...,...,...,...,...,...,...,...,...,...
41025,Orange,2022-03-31,96.0,10.0,106.0,5986.0,14.0,1.0,166.0
41030,Santa Clara,2022-03-31,107.0,31.0,138.0,3130.0,17.0,1.0,74.0
41033,Sacramento,2022-03-31,74.0,13.0,87.0,2709.0,13.0,1.0,71.0
41036,Los Angeles,2022-03-31,287.0,39.0,326.0,19394.0,47.0,0.0,647.0
41041,San Mateo,2022-03-31,19.0,2.0,21.0,679.0,7.0,1.0,20.0

In [6]:
# Proportion of missingness in each column
hospital_df.isnull().sum() / len(hospital_df)

county                                   0.000000
todays_date                              0.000000
hospitalized_covid_confirmed_patients    0.000000
hospitalized_suspected_covid_patients    0.000000
hospitalized_covid_patients              0.030375
all_hospital_beds                        0.031284
icu_covid_confirmed_patients             0.000000
icu_suspected_covid_patients             0.000000
icu_available_beds                       0.000091
dtype: float64

## COVID-19 Vaccines by County

- Description of the dataset: this dataset includes the vaccination counts in each county in California. The vaccination counts are further broken down into partially vaccinated and fully vaccinated, and at least one dose. 
- Relevant to the research question: the vaccination rates provide insight into the Covid-19 situation in each county, which may be correlated to the Covid-19 cases and further related to the violent crime rates. The vaccination rate could be a counfounder or a mediator, or has nothing to do with the relationship, and this need to be further analyzed. 
- Data cleaning & wrangling: visualize the change in vaccination rate (at least one dose vs. partially vaccinated vs. fully vaccinated) in different county & compare the change across the counties. Also, analyze the vaccination rates by calculating the proportion in relation to the county's total population. Visualize the change in proportions.

In [7]:
vaccine_df = pd.read_csv('covid19vaccinesbycounty.csv')
vaccine_df

,county,administered_date,total_doses,cumulative_total_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,up_to_date_count,cumulative_up_to_date_count
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,NaN,0,0
1,Alameda,2020-07-27,0,0,0,0,0,0,0,0,NaN,0,0
2,Alameda,2020-07-29,0,1,0,1,0,0,0,1,NaN,0,0
3,Alameda,2020-07-30,0,1,0,1,0,0,0,1,NaN,0,0
4,Alameda,2020-07-31,0,1,0,1,0,0,0,1,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81029,Yuba,2024-02-18,1,115831,0,4159,0,40560,0,44725,California,1,4707
81030,Yuba,2024-02-19,1,115832,0,4159,0,40560,0,44725,California,1,4708
81031,Yuba,2024-02-20,4,115836,0,4159,0,40560,0,44725,California,4,4712
81032,Yuba,2024-02-21,10,115846,0,4159,0,40560,0,44725,California,10,4722
81033,Yuba,2024-02-22,7,115853,0,4159,0,40560,0,44725,California,7,4729

In [8]:
# top 15 counties in CA by population
counties = ['Los Angeles' , 'San Diego' , 'Orange' , 'Riverside' , 'San Bernardino' , 'Santa Clara', 'Alameda', 'Sacramento', 'Contra Costa', 'Fresno', 'Kern', 'Ventura',  'San Joaquin', 'San Francisco', 'San Mateo']

# inclule only the 15 counties in df
vaccine_df = vaccine_df[vaccine_df['county'].isin(counties)]
vaccine_df.reset_index(inplace=True)

In [9]:
# include the administered_date from March 2020 - March 2022
vaccine_df = vaccine_df[vaccine_df['administered_date'].between('2020-03-01', '2022-03-31')]
vaccine_df.reset_index(inplace=True)

In [10]:
# drop the unwanted columns 
vaccine_df.drop(columns=['level_0', 'index', 'california_flag', 'up_to_date_count', 'cumulative_up_to_date_count'], inplace=True)
vaccine_df

,county,administered_date,total_doses,cumulative_total_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose
0,Alameda,2020-07-27,0,0,0,0,0,0,0,0
1,Alameda,2020-07-29,0,1,0,1,0,0,0,1
2,Alameda,2020-07-30,0,1,0,1,0,0,0,1
3,Alameda,2020-07-31,0,1,0,1,0,0,0,1
4,Alameda,2020-08-02,0,2,0,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...
9190,Ventura,2022-03-27,143,1563903,14,43924,22,611556,14,655502
9191,Ventura,2022-03-28,610,1564513,82,43865,144,611700,85,655587
9192,Ventura,2022-03-29,801,1565314,99,43863,104,611804,102,655689
9193,Ventura,2022-03-30,1711,1567025,78,43790,161,611965,88,655777
9194,Ventura,2022-03-31,2292,1569317,93,43745,147,612112,102,655879

In [11]:
# checking missingness of the dataset
vaccine_df.isnull().sum()

county                          0
administered_date               0
total_doses                     0
cumulative_total_doses          0
partially_vaccinated            0
total_partially_vaccinated      0
fully_vaccinated                0
cumulative_fully_vaccinated     0
at_least_one_dose               0
cumulative_at_least_one_dose    0
dtype: int64

# Ethics & Privacy

In regards to potential ethical concerns of this project, there may be various biases depending on the specific dataset used. For crime data, it is likely that datasets are not reflective of all the crimes committed in a specific state or region but rather only those reported by the police. When conducting our analyses, we need to be aware of this potential collection bias as certain crimes may be underreported or overreported due to factors like law enforcement, community awareness campaigns, recent events, etc. Additionally, we need to consider many potential confounding variables in our analysis; for example, crime rates can vary based on geographical and demographic factors like population density, socioeconomic status, and cultural influences. Any correlations or associations found from our analyses may be due to a range of factors that may not be directly identified through our datasets. Similarly, for COVID-19 data, it is likely that datasets are subject to testing and reporting biases that are influenced by the availability and accessibility to testing resources and healthcare facilities in certain regions and populations. Differences in case definitions, data collection methods, and reporting protocols may create variations in the data cross regions. Confounding variables like asymptomatic cases, pre-existing health conditions, and public health interventions can also skew the measures of the “impact” of COVID-19. Keeping these considerations in mind, we can closely review how data was collected to see if certain groups were potentially overrepresented or underrepresented in the dataset. We can also look for any inconsistencies, missing values, or data entry errors that potentially affect the integrity of the dataset and consider whether this is due to any systematic biases in data collection practices. Statistical techniques can also be used to detect patterns, outliers, and anomalies in the data and help control for confounding variables. Lastly, we can compare and cross-reference multiple datasets from different sources to validate our findings and identify potential biases.

In general, in regards to privacy, no Personal Identifiable Information is being used because the data collected are more generalized by region. We should also keep in consideration that many crime and COVID-19 datasets are collected and maintained by law enforcement agencies or the government and therefore may be subject to terms of use agreements, restricting how data can be accessed or shared. Another general issue with this topic is data transparency as we want to ensure that findings in this research study avoid selective reporting or manipulation of data to fit a particular narrative. To address this, we should work to address any potential blindspots and work to mitigate any dataset bias such as stereotype perpetuation and confirmation bias. Another issue to consider is fairness and equity as a potential concern is that analyzing crime data in correlation with COVID-19 impact may reveal disparities in the distribution of resources, access to healthcare, and exposure to risk factors across marginalized populations. In our analysis, we should consider potential unintended consequences and prevent data from being misinterpreted or used to justify any discriminatory practices or policies.

# Team Expectations


* *Team Expectation 1: Communication*
    - Please make sure to tell the group if you can't finish your work by the deadline, or if any problems come up. If you can't make a meeting, be sure to let everybody know in the group discord. 
* *Team Expectation 2: Work Style*
    - The team will have designated work during the meetings before the due dates and will try to follow the project timeline as best as possible to ensure that we are all caught up on work. 
* *Team Expecation 3: Conflict Resolution*
    - If any problems arise, the team will either bring it up at the weekly Wednesday meeting or bring it up in the general discord channel.

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/7  |  5 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 2/14  |  5 PM |  Find Datasets  | Discuss datasets, start cleaning and wrangling | 
| 2/21  | 5 PM  | Continue cleaning and wrangling, start EDA  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/28  | 5 PM  | Import & Wrangle Data, EDA | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 3/6  | 5 PM  | Finalize wrangling/EDA; Begin Analysis | Discuss/edit Analysis; Complete project check-in, Final Video  |
| 3/13  | 5 PM  | Complete analysis; Draft results/conclusion/discussion| Discuss/edit full project, Final video |
| 3/20  | Before 11:59 PM  | Complete all individual and collective parts of the project | Turn in Final Project & Group Project Surveys |